###############################################################################
# Text files
###############################################################################

* text=auto eol=lf

###############################################################################
# Source code
###############################################################################

*.py      text
*.R       text
*.Rmd     text
*.qmd     text
*.sh      text
*.nf      text
*.smk     text
*.yaml    text
*.yml     text
*.json    text
*.toml    text
*.md      text

###############################################################################
# Jupyter notebooks
###############################################################################

*.ipynb binary

###############################################################################
# Data
###############################################################################

*.csv text
*.tsv text

*.h5ad binary
*.h5 binary
*.loom binary
*.parquet binary
*.feather binary

*.rds binary
*.rda binary

###############################################################################
# Images
###############################################################################

*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.svg text

###############################################################################
# Archives
###############################################################################

*.gz binary
*.zip binary
*.tar binary
*.bz2 binary
